@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #161C2D;
    --color-secondary: #FFEE00;
    --color-accent: #F64B4B;
    /* Background colors */
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #161C2D;
    /* Border colors */
    --color-border-primary: #E7E9ED;
    --color-bd-secondary: #222222;

    /* Font families */
    --font-rubik: 'Rubik', sans-serif;
    --font-manrope: 'Manrope', sans-serif;

    /* Typography Custom sizes */
    --text-h1: 3.438rem; /* 55px */
    --text-mh1: 2.75rem; /* 44px */
    --text-h2: 2.25rem; /* 36px */
    --text-h3: 2rem; /* 32px */
    --text-h4: 1.5rem; /* 24px */
    --text-h5: 1.313rem; /* 21px */
    --text-h6: 1rem; /* 16px */
    --text-p: 1.188rem; /* 19px */
}

.mb-yellow-bg  {
    background-image: url('./assets/img/mb-yellow.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}

.yellow-bg  {
    background-image: url('./assets/img/yellow-swiggly-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}